body {
    background-color: orange;
   margin: 0;
}
.container {
    width: 850px;
    margin: auto;
    position: absolute;
}

/* this is a header */

header {
    background-image: url(Contenu/images/header.jpg);
    width: 850px;
    height: 300px;
    margin: auto;
}

/* this is the body of page */

section {
    height: 500px;
    width: 850px;
    background-color: #fff;
    position: relative;
    margin: auto;
}

article {
    padding-top:10px ;
    position: absolute;
    right: -4px;
    width: 650px;
    margin-top: 20px;
}

article p {
    font-family: Arial, Helvetica, sans-serif;
}

article h2 {
    color: #ffa500;
    font-family: sans-serif;
    text-transform: uppercase;
}

article > h1 {
    color: rgb(155, 42, 42);
    font-family: sans-serif;
    position: absolute;
    top: -30px;
    right: 23px;
}

aside {
    width: 200px;
    box-sizing: border-box;
    position: absolute;
    height: 500px;
    background-color: #fff;
    text-align: center;
}

aside  a {
    text-decoration: none;
    text-align: left;
}

aside p {
   margin-bottom: 5px;
}

 img {
    width: 100px;
    height: 170px;
    padding-top:10px;
}

a {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: orange;
    width: 100%;
    margin: 1px;
}

a:hover {
color: red;
text-decoration: underline;
}

/* this is a footer of page */

footer {
    background-image: url(Contenu/images/footer.jpg);
    width: 850px;
    height: 90px;
    margin: auto;
}

span {
    text-align: center;
    margin-left: 100px;
    color: #ffa500;
}
a::