body {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  background-color: #e6bccd; 
}
.page {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 160px auto 160px;
  grid-template-rows: auto auto 180px auto auto;
  grid-template-areas: "header header header"
                       "menu menu menu"
                       "hero hero hero"
                       "aside1 content aside2"
                       "footer footer footer";
  border-radius: 4px;
  overflow: hidden; 
}


header.main_header {
  grid-area: header;
  background-color: #29274c;
  color: #d295bf;
  width: 100%;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  padding: .5em 1em;
  box-sizing: border-box; 

  &::first-letter {
    color: #ffffff; 
  }
}

nav.main-nav {
  grid-area: menu;
  background-color: #7e52a0;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    margin: .5em;
    padding: 0;
    list-style: none;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    background-color: #29274c;
    display: block;
    min-width: 120px;
    padding: .3em;
    border-radius: 4px;
    text-align: center;
    transition: all 0.8s;


    &.active,
    &:hover {
      background-color: #d295bf;
      color: #29274c;
    }
  }
}

.home div.hero {
  grid-area: hero ;
  width: 100%;
  height: 180px;
  background-image: url('img.jpg');
  position:relative;
  background-size: 960px;
  div {
    background-color: #7e52a0;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: .6;
  }
}

section.main_content {
  grid-area: content;
  background-color: #ffffff;
  min-height: 200px;
  padding: .5em; 
}

aside.main_aside_ {
  &left,
  &right {
    background-color: #d295bf;
    color: #ffffff;
    padding: .5em; 
  }
  &left {
    grid-area: aside1;
    border-right: 5px solid #7e52a0; 
  }
  &right {
    grid-area: aside2;
    border-left: 5px solid #7e52a0; 
  }
}

footer.main_footer {
  grid-area: footer;
  background-color: #012a36;
  width: 100%;
  display: flex;
  flex-wrap: wrap; 

  ul {
    box-sizing: border-box;
    width: 33%;
    list-style: none; 
  }
  a {
    color: #e6bccd;
    text-decoration: none;
    font-size: 0.9em; 
  }
}
